* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway, Arial, sans-serif;
}


/*header*/

.header-top {
    background-color: #F7F7F7;
}

.header-top,
.nav-container {
    border-bottom: 1px solid #D26F53;
}

.contact-info .logo {
    width: 50%;
    height: 100%
}

.header-top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.header-top ul li {
    display: inline-block;
    list-style-type: none;
}

.header-top ul li a,
.kontact-social a {
    text-decoration: none;
    padding: 10px;
    color: #D26F53;
}

.navbar-brand {
    padding-left: 20px !important;
}

.navbar {
    background-color: #fff !important;
}

.navbar-toggler {
    border: 1px solid #D26F53 !important;
}

.nav-item {
    padding: 10px 25px !important;
}

.nav-link {
    color: #c99587 !important
}

.nav-link:hover {
    color: #D26F53 !important;
}

.navbar .active a {
    color: #D26F53 !important;
    border: 1px solid #D26F53;
}


/*home*/

.welcome {
    border-bottom: 1px solid #E1E1E1;
}

.welcome h2 {
    color: #D26F53;
}

.home {
    margin-top: 30px;
}

.homeItem {
    border-bottom: 1px solid #E1E1E1;
}

.homeImg img {
    width: 100%;
    height: 400px;
   
}

.contentImg img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

h1 {
    color: #D26F53;
    line-height: 1.5;
    font-weight: 300;
    font-size: 35px;
}

p {
    color: #8b8e94;
    line-height: 28px;
    font-size: 15px;
}

.homeBtn,
.galleryBtn,
.contactBtn {
    border: 1px solid #D26F53;
}

.homeBtn a,
.galleryBtn a {
    text-decoration: none;
    color: #D26F53;
    padding: 10px 20px;
}


/*about

.about,
.gallery,
.contact {
    background-image: url(../images/about-img.jpg);
    background-size: cover;
    height: auto;
}


/*h2 {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    padding: 80px 0px 80px;
    text-align: left;
}

*/


/*gallery

.galleryItem {
    border: 1px solid #E1E1E1;
}

.gallery-item-img img {
    width: 100%;
    height: 100%;
}

.gallery-item-content {
    width: 100%;
    padding: 20px 20px 30px;
    background-color: #FFF;
}

.item-name {
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 20px;
    border-bottom: 1px solid #E1E1E1;
}


/*contact

.contactBtn {
    margin: 20px 0px;
    padding: 8px 35px;
    color: #fff;
    font-size: 15px;
}

.contactBtn:hover {
    color: #49D292;
    background-color: #fff;
    border: 1px solid #E1E1E1;
}

form {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
}


/*content1

.video-box {
    width: 770px;
    height: 405px;
    margin: auto;
}

.video-img-box {
    position: relative;
}

.overlay-link {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
}

.overlay-link:hover {
    background: rgba(0, 37, 74, 0.46);
    transition: all 500ms ease;
}

.image a span i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 100px;
    height: 100px;
    line-height: 94px;
    font-size: 50px;
    color: #49D292;
    background-color: transparent;
    padding-left: 12px;
}

*/


/*footer*/

.kontaktContent h4 {
    color: #D26F53;
    font-weight: 700;
    margin-bottom: 15px;
}

.kontaktContent ul li {
    list-style-type: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.kontact-social {
    display: flex;
    margin: 15px;
}

.kontaktContent .map img {
    width: 100%;
    height: 150px
}